In [ ]:
#NEED TO FIGURE OUT A WAY TO SAVE THE MEANS/ SUMS OF THE PRECIPITATION DATAFRAME AND ANALYZE IT

In [1]:
import csv
import datetime
list17=[]
list18=[]
list19=[]
with open('CP Rainfall 2017.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile, delimiter=';')
    for row in csvReader:
        string= row[0]
        if "/" not in string:
            splitted = ["Month","Day","Year"]
        else:
            splitted = string.split("/")
        rows = row + splitted
        list17.append(rows)
with open('CP Rainfall 2018.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile, delimiter=';')
    for row in csvReader:
        string= row[0]
        if "/" not in string:
            splitted = ["Month","Day","Year"]
        else:
            splitted = string.split("/")
        rows = row + splitted
        list18.append(rows)
with open('CP Rainfall 2019.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile, delimiter=';')
    for row in csvReader:
        string= row[0]
        if "/" not in string:
            splitted = ["Month","Day","Year"]
        else:
            splitted = string.split("/")
        rows = row + splitted
        list19.append(rows)

#list17, print(len(list17))    #35042?
#list18, print(len(list18))    #35043?
#list19, print(len(list19))    #3991
"Need to fix the variables for the columns"
fix18 = list18.pop(0)
fix19 = list19.pop(0)

In [2]:
#Combining the lists into a Total list
Final_list=list17+list18+list19
#len(Final_list)     #74076
col = Final_list[0]
col
edit_list = Final_list[1:]
col

['Date', 'Time', 'Precipitation (inch)', 'Month', 'Day', 'Year']

In [3]:
from pandas import DataFrame
data=DataFrame.from_records(edit_list)
data.columns = ['Date', 'Time', 'Precipitation', 'Month', 'Day', 'Year']

In [9]:
import pandas as pd
cols = ['Precipitation', 'Month', 'Day', 'Year']  # We don't want to convert the Final grade column.
for x in cols:  # Iterate over chosen columns
    data[x] = pd.to_numeric(data[x])
for col in ['Month', 'Day', 'Year']:
    data[col] = data[col].astype('category')
    
data.info()
data['Cumu_Tot'] = data.Precipitation.cumsum()
data
#Need to fix this: Will continue this next time

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74073 entries, 0 to 74072
Data columns (total 7 columns):
Date             74073 non-null object
Time             74073 non-null object
Precipitation    74073 non-null float64
Month            74073 non-null category
Day              74073 non-null category
Year             74073 non-null category
Cumu_Tot         74073 non-null float64
dtypes: category(3), float64(2), object(2)
memory usage: 2.5+ MB

          Date         Time  Precipitation Month Day Year  Cumu_Tot
0       1/1/17  12:00:00 AM            0.0     1   1   17      0.00
1       1/1/17  12:15:00 AM            0.0     1   1   17      0.00
2       1/1/17  12:30:00 AM            0.0     1   1   17      0.00
3       1/1/17  12:45:00 AM            0.0     1   1   17      0.00
4       1/1/17   1:00:00 AM            0.0     1   1   17      0.00
5       1/1/17   1:15:00 AM            0.0     1   1   17      0.00
6       1/1/17   1:30:00 AM            0.0     1   1   17      0.00
7       1/1/17   1:45:00 AM            0.0     1   1   17      0.00
8       1/1/17   2:00:00 AM            0.0     1   1   17      0.00
9       1/1/17   2:15:00 AM            0.0     1   1   17      0.00
10      1/1/17   2:30:00 AM            0.0     1   1   17      0.00
11      1/1/17   2:45:00 AM            0.0     1   1   17      0.00
12      1/1/17   3:00:00 AM            0.0     1   1   17      0.00
13      1/1/17   3:15:00 AM            0.0     1   1   17      0.00
14      1/1/17   3:30:00 AM            0.0     1   1   17      0.00
15      1/1/17   3:45:00 AM            0.0     1   1   17      0.00
16      1/1/17   4:00:00 AM            0.0     1   1   17      0.00
17      1/1/17   4:15:00 AM            0.0     1   1   17      0.00
18      1/1/17   4:30:00 AM            0.0     1   1   17      0.00
19      1/1/17   4:45:00 AM            0.0     1   1   17      0.00
20      1/1/17   5:00:00 AM            0.0     1   1   17      0.00
21      1/1/17   5:15:00 AM            0.0     1   1   17      0.00
22      1/1/17   5:30:00 AM            0.0     1   1   17      0.00
23      1/1/17   5:45:00 AM            0.0     1   1   17      0.00
24      1/1/17   6:00:00 AM            0.0     1   1   17      0.00
25      1/1/17   6:15:00 AM            0.0     1   1   17      0.00
26      1/1/17   6:30:00 AM            0.0     1   1   17      0.00
27      1/1/17   6:45:00 AM            0.0     1   1   17      0.00
28      1/1/17   7:00:00 AM            0.0     1   1   17      0.00
29      1/1/17   7:15:00 AM            0.0     1   1   17      0.00
...        ...          ...            ...   ...  ..  ...       ...
74043  2/11/19   6:00:00 AM            0.0     2  11   19     58.67
74044  2/11/19   6:15:00 AM            0.0     2  11   19     58.67
74045  2/11/19   6:30:00 AM            0.0     2  11   19     58.67
74046  2/11/19   6:45:00 AM            0.0     2  11   19     58.67
74047  2/11/19   7:00:00 AM            0.0     2  11   19     58.67
74048  2/11/19   7:15:00 AM            0.0     2  11   19     58.67
74049  2/11/19   7:30:00 AM            0.0     2  11   19     58.67
74050  2/11/19   7:45:00 AM            0.0     2  11   19     58.67
74051  2/11/19   8:00:00 AM            0.0     2  11   19     58.67
74052  2/11/19   8:15:00 AM            0.0     2  11   19     58.67
74053  2/11/19   8:30:00 AM            0.0     2  11   19     58.67
74054  2/11/19   8:45:00 AM            0.0     2  11   19     58.67
74055  2/11/19   9:00:00 AM            0.0     2  11   19     58.67
74056  2/11/19   9:15:00 AM            0.0     2  11   19     58.67
74057  2/11/19   9:30:00 AM            0.0     2  11   19     58.67
74058  2/11/19   9:45:00 AM            0.0     2  11   19     58.67
74059  2/11/19  10:00:00 AM            0.0     2  11   19     58.67
74060  2/11/19  10:15:00 AM            0.0     2  11   19     58.67
74061  2/11/19  10:30:00 AM            0.0     2  11   19     58.67
74062  2/11/19  10:45:00 AM            0.0     2  11   19     58.67
74063  2/11/19  11:00:00 AM            0.0     2  11   19     58.67
74064  2/11/19  11:15:00 AM            0.0     2  11   19     58.67
74065  2/11/19  11:30:00 AM            0.0     2  11   19     58.67
74066  2/11/19  11:45:00 AM            0.0     2  11   19     58.67
74067  2/11/19  12:00:00 PM            0.0     2  11   19     58.67
74068  2/11/19  12:15:00 PM            0.0     2  11   19     58.67
74069  2/11/19  12:30:00 PM            0.0     2  11   19     58.67
74070  2/11/19  12:45:00 PM            0.0     2  11   19     58.67
74071  2/11/19   1:00:00 PM            0.0     2  11   19     58.67
74072  2/11/19   1:15:00 PM            0.0     2  11   19     58.67

[74073 rows x 7 columns]

In [12]:
#Get some statistics
print("Mean: ",data.mean())
print("Standard Deviation: ",data.std())
data.groupby(['Month', 'Year'])['Precipitation'].mean()

Mean:  Precipitation     0.000792
Cumu_Tot         33.570301
dtype: float64
Standard Deviation:  Precipitation    0.006529
Cumu_Tot         9.680717
dtype: float64

Month  Year
1      17      0.004469
       18      0.001079
       19      0.002279
2      17      0.003779
       18      0.000003
       19      0.004876
3      17      0.000767
       18      0.002717
4      17      0.000664
       18      0.000172
5      17      0.000134
       18      0.000003
6      17      0.000001
       18      0.000001
7      17      0.000000
       18      0.000000
8      17      0.000013
       18      0.000000
9      17      0.000073
       18      0.000000
10     17      0.000043
       18      0.000212
11     17      0.000144
       18      0.001548
12     17      0.000052
       18      0.000350
Name: Precipitation, dtype: float64